<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th style="width: 12%">Start-Time</th>
      <th style="width: 12%">Duration</th>
      <th>Note</th>
      <th style="width: 1%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of (timeTableEntries | async)">
      <td>{{entry.time | tmTimeTableTime}}</td>
      <td>{{entry.duration | tmTimeTableDuration}}</td>
      <td>{{entry.text}}</td>
      <td class="note-options">
        <button type="button" class="btn btn-sm btn-warning" (click)="handleEditNoteButtonClick($event)">?</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="handleRemoveNoteButtonClick($event)">-</button>
      </td>
    </tr>
    <tr [formGroup]="formNewEntry">
      <td><input type="datetime-local" formControlName="time" [(ngModel)]="newEntry.time"></td>
      <td><input type="number" formControlName="duration" [(ngModel)]="newEntry.duration"></td>
      <td><input type="text" formControlName="text" [(ngModel)]="newEntry.text"></td>
      <td>
        <button type="button" class="btn btn-sm btn-success" (click)="handleAddNoteButtonClick($event)">+</button>
      </td>
    </tr>
  </tbody>
</table>
