<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Time Measurement</h5>
  <div class="my-2 my-md-0 mr-md-3">
    You have worked <span data-bind="text:totalToday"></span>
    <select data-bind="foreach: totalTodayTimeUnits, change: totalTodayUnitChanged, click: totalTodayUnitChanged">
      <option data-bind="text: caption, attr: { value: key }"></option>
    </select> today!
  </div>
</div>

<div class="container-fluid">

  <tm-time-measurement></tm-time-measurement>

</div>
